//import
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Francois+One|Lobster|Roboto');

// variable 

$height_menu : 68px;
$c333 : #333333;
$c777 : #777777;
$ce00 : #e00000;
$c999 : #999999;
// end variable

//global
//

//color

.b-333{
	background: $c333;
}

.b-e00{
	background: $ce00;
}

.c-333{
	color: $c333;
}

.c-777{
	color: $c777;
}

.c-e00{
	color: $ce00;
}

.c-999{
	color: $c999;
}

.space20 {
	margin-bottom: 20px;
}

.scrollbar
{
	overflow-y: scroll;

	&::-webkit-scrollbar-track{
		// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		// border-radius: 10px;
		// background-color: #ceaeae;
	}
	&::-webkit-scrollbar
	{
		width: 5px;
		background-color: #fff;
	}
	&::-webkit-scrollbar-thumb
	{
		border-radius: 0px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #fff;
	}
}

#menu{
	margin: 0px;
	transition: top 0.2s ease-in-out;
	width: 100%;
	z-index: 999;
	position: fixed;
}

.nav-down{
	top: 0;   
}

.nav-up {
	top: -$height_menu;
}


//tag

body{
	font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1,h2,h3,h4{
	font-family: "Francois One", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h2{
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

a{
	&:hover{
		color: #e00000;
		text-decoration: none;
		outline: 0;
		-webkit-transition: opacity 0.24s ease-in-out;
		-moz-transition: opacity 0.24s ease-in-out;
		transition: .3s;
	}
	
}

img.responsive{
	width: 100%;
}

.wrap-hover{

	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	a.hover{
		display: block;
		width: 100%;
		height: 100%;
		
		&:hover{
			&:after{
				position: absolute;
				bottom: -30%;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				z-index: 11;
				transition: .4s;
			}
		}

		&:after{
			content: "";
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.80)));
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%);
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%);
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
			position: absolute;
			bottom: -45%;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			z-index: 11;
			transition: .4s;
		}



	// img{
	// 	-webkit-transition: all 0.9s ease-in-out;
	// 	-moz-transition: all 0.9s ease-in-out;
	// 	-o-transition:  all 0.9s ease-in-out;
	// 	transition: all 0.9s ease-in-out;
	// }
	
	// &:hover img{
	// 	-moz-transform: scale(1.1);
	// 	-webkit-transform: scale(1.1);
	// 	transform: scale(1.1);

	// }
}

}

h4.title{
	background: url(../images/sep.png) repeat-x center;
	margin: 0 0 30px;

	span
	{
		height: 40px;
		line-height: 40px;
		padding: 0 30px;
		text-align: center;
		font-size: 15px;
		// font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		display: table;
		margin: 0 auto;
		position: relative;
	}
	a{
		color: #fff;
		&:hover{
			color: $c777;
		} 
	}
}

.p-meta span i {
	margin-right: 10px;
}


em {
	a{
		font-size: 10px;
		font-weight: bold;
		text-transform: uppercase;
		font-style: normal;
		display: table;
		margin-bottom: 10px;
	}
}


a.read-more{
	background: #e00000;
	line-height: 41px;
	padding: 7px 20px;
	font-weight: 600;
	color: #fff;

	&:hover{
		background: $c999;
	}
}




// menu

.navbar-header{
	text-align: center;
	i{
		display: block;
		color: #fff;
	}

	a{
		color: #fff;
	}

	.mo-menu{
		.active *{
			color: #000;
		}
		i{
			margin: 13px 0 8px;
			font-size: 17px;
			color:#888;
		}
		a{
			font-size: 14px;
		}

		div{
			&:hover{
				color: #000;
			}
		}

	}

	.navbar-toggle{
		margin: 0px;
		border: none;
		border-radius: none;
		
		a{
			margin-top: 10px;
			display: block;
		}
		.icon-bar{
			margin: 4px auto;
		}

		&:hover, &:focus{
			background-color: $c333;
			.icon-bar{
				background-color: #000;
			}
			a{
				color: #000;
			}
		}
	}
}




// end global
.rel
{
	position: relative;
}

.abs
{
	position: absolute;
}

.header{
	margin : $height_menu 0 30px 0;
	background: #fff;
	border-bottom: 1px solid #dddddd;
	position: relative;
	display: table;
	width: 100%;

	.logo {
		height: 110px;
		line-height: 127px;
		text-align: center;


		.site-title {
			font-family: "Berkshire Swash", Arial, "Helvetica Neue", Helvetica, sans-serif;
			text-transform: uppercase;
			font-size: 3.5em;
			font-weight: bold;
			color: #000;
			text-shadow: 2px 3px rgba(0,0,0,.1);
			margin-bottom: 0;
			line-height: 1.33!important;
			word-wrap: break-word;
			overflow: hidden;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			a{
				color: #000000;
				&:hover{
					color: #da0000;
				}
			}
			span{
				font-family: "Lobster", "Berkshire Swash", Arial, "Helvetica Neue", Helvetica, sans-serif;
				text-transform: initial;
				color:#a0a0a0;
			}
		}
	}
}

.big-banner {
	background: #fff;
	padding: 20px;
	// border-bottom: 3px solid #f4f4f4;
	// border-top: 1px solid #DDD;
}

.featured-big{
	margin-bottom: 30px;

	.p-meta{
		top: 30px;
		left: 30px;
		text-transform: uppercase;
		color: #fff;

		i{
			margin-right: 5px;
			font-weight: normal;
			font-size: 17px;
		}
	}

	.p-info{
		bottom: 30px;
		left: 30px;
		color: #fff;
		z-index: 777;
		width: 100%;
		padding-right: 30px;

		h3{
			margin: 5px 0 15px;
			color: #fff;
			font-size: 30px;
			line-height: 30px;
			font-family: "Lobster", Arial, "Helvetica Neue", Helvetica, sans-serif;
			a{
				color: #fff;
			}
		}

		.rmore {
			color: #fff;
			text-align: right;
			font-size: 12px;
			display: table;
			float: right;
			font-style: italic;
			padding-right: 30px;

			i{
				margin-left: 10px;
			}

			&:hover{
				color: #e00000;
			}
		}

		.p-category{
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;

			*{
				color: #ff9292;
			}
		}
	}
}

.featured-item{

	h4{
		font-size: 22px;
		line-height: 26px;
		margin: 0 0 5px 0;
	}
	.p-meta{
		margin: 0px 0px 5px 0px;
		text-transform: uppercase;
	}

	.p-inner{
		border-bottom: 1px dotted #7f7f7f;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}


}

.cat-blocks{
	margin-bottom: 30px;
	.title{
		span
		{
			margin: 0px;
			&:after {
				content: "";
				width: 8px;
				height: 13px;
				background: url(../images/cb-ribbon.png) no-repeat;
				position: absolute;
				right: -7px;
				top: 0;
			}
		}
	}

	.top-item{
		.p-meta{
			bottom: 10px;
			left: 15px;
			color: #fff;
			font-size: 15px;
			text-transform: uppercase;
			z-index: 99;
		}
	}

	h5{
		font-size: 22px;
		line-height: 26px;
		margin: 0 0 10px;
	}
	
	ul{
		margin-top: 30px;

		li{
			float: none;
			width: 100%;
			margin-bottom: 0;
			position: relative;
			padding-left: 20px;
			border-bottom: 1px dotted #3f3f3f;
			padding: 9px 0 12px 20px;

			&:first-child{
				border-top: 1px dotted #3f3f3f;
			}

			a{
				color: #000000;
				font-size: 16px;
				font-weight: bold;
				line-height: 20px;

				&:hover{
					color: $ce00;
				}
			}
		}
	}


}


.all-cate
{

	
	.allcat-feed{

		h4
		{
			font-size: 18px;
			font-weight: bold;
			left: 20px;
			bottom: 10px;
			text-transform: none;
			z-index: 77;

			a{
				color: #fff;
			}
		}
		p {
			a {
				font-size: 10px;
				font-weight: bold;
				text-transform: uppercase;
				color: #f8f8f8;
				position: absolute;
				left: 20px;
				bottom: 65px;
				margin: 0;
				z-index: 77;
			}
		}

		.category-link{
			a {
				background: rgba(0,0,0,0.7);
				padding: 3px 15px;
				color: #fff;
			}
		}
	} 

} 

aside{
	.box-aside{
		margin: 0px 0px 20px;
	}	
}


.widget-m{

	font-size: 13px;
	a{
		color: #333;
		&:hover{
			color: #e00000;
		}
	}
	.news-tips{
		.top-item{
			h5{
				font-weight: bold;
				line-height: 18px;
				color: #000;
			}
		}
		ul{
			border-top: 1px dashed #999;
			margin: 0px;
			padding: 0px;
			list-style: none;

			li{
				padding: 5px 0px;
				line-height: 17px;
				border-bottom: 1px dashed #999;
			}
		}

		.list-news-tips{
			height: 220px;
		}
	}


}




















@media (min-width: 768px)
{
	.navbar-header {
		display: none;
	}

	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: 36px;
	}
}

// responsive
@media only screen and (max-width: 995px)
{
	.header .logo .site-title {
		font-size: 2.5em;
	}
	.c-description{
		padding-top: 20px;	
	}

}